body {
	padding-bottom:40px;
}

.navbar-brand {
	font-size: 20px;
	font-weight: bold;
}

h1 {
	font-family:'Bitter', Georgia, serif;
}

h2 {
	font-family:'Bitter', Georgia, serif;
	font-size: 30px;
}

h3 {
	font-family:'Bitter', Georgia, serif;
	font-size: 15px;
}

h4 {
	font-family:'Bitter', Georgia, serif;
	font-size: 24px;
}

.jumbotron p {
	font-family:'Open Sans', Helvetica, sans-serif;
	font-size: 20px;
}

.navbar-fixed-bottom p {
	padding-top: 15px;
	font-family:'Open Sans', Helvetica, sans-serif;	
}

.page-opening {
	margin-bottom:30px;
}

.page-opening p{
	margin: 0 10px 0 10px;
	font-family:'Open Sans', Helvetica, sans-serif;
	font-size: 20px;
}

.note {
	margin: 0 10px 0 10px;
	font-family:'Open Sans', Helvetica, sans-serif;
	font-size:15px;
}

li {
	font-family:'Open Sans', Helvetica, sans-serif;
}

th {
	font-family:'Open Sans', Helvetica, sans-serif;
}

td {
	font-family:'Open Sans', Helvetica, sans-serif;
}

/* SYSMAP STYLING */
table .container-fluid {
	margin: 15px 0 15px 0;
}

.row * {
}

.desc p {
	font-family: 'Open Sans', Helvetica, sans-serif;
}

table {
	padding:10px;
}

.sysmap-buttons{
	padding: 10px 0 10px 0;
	text-align:center;
	font-family: 'Bitter', Georgia, serif;
}

.sysmap-topics{
	border-bottom: dashed 1px black;
	margin-bottom: 10px;
}

.panel-title {
	font-family:'Bitter', Georgia, serif;
	font-size: 15px;
}

.panel-body {
	font-family:'Open Sans', Helvetica, sans-serif;
}

.framework-pic {
	position:relative;
	width:1200px;
	height:675px;
	margin-bottom: 40px;
	background-size:contain;
	background-repeat: no-repeat;

	border:solid 1px;
}

.framework-pic img {
	width:100%;
	z-index: -999;
}

.popover-content {
	font-family:'Open Sans', Helvetica, sans-serif;
	text-align:center;
}

.popover-title {
	font-family:'Bitter', Georgia, serif;
	font-size:18px;
}

.popover-top {
	position:absolute;

	border:solid 1px;
}

.row {
	font-family:'Open Sans', Helvetica, sans-serif;
}